@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair", ui-serif, Georgia, serif;

  --color-brand-bg: #121110;
  --color-brand-accent: #c69c6d;
  --color-brand-text: #f5f5f3;
  --color-brand-subtext: #8e8a85;
}

@layer base {
}

.homepage_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.image {
  width: 100%;
  height: auto;
}
