@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.castoro-regular {
  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: normal;
}

.castoro-regular-italic {
  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: italic;
}

.public-sans {
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Set font-size to 100% to make font sizing consistent */
html {
  font-size: 100%;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Set image sizes to scale properly */
img {
  max-width: 100%;
  height: auto;
}

/* Remove table cell spacing */
table {
  border-collapse: collapse;
}

/* Remove form input styling */
input,
textarea,
button,
select {
  border: none;
  outline: none;
  background: none;
}

/* Reset the body font family */
body {
  font-family: "Public Sans", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Castoro", serif;
  font-weight: 400;
}
